body{
    background-image: url('https://c8.alamy.com/comp/KM9679/taj-mahal-india-i…tion-sketch-art-with-perspective-lines-KM9679.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}