@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
*{
    margin:0;
    padding:0;
}
.main_div{
    background-color: #f6c56e;
    margin-top:500px;
}
.main_heading{
    font-family:'Bree Serif', serif;
}
.btn{
    background-color:#ffffff;
}