@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
*{
    margin:0;
    padding:0;
}
.content{
    background-color: #f6c56e;
}
.main_heading{
    font-family: 'Bree Serif', serif;
}
.btn{
    background-color:#ffffff;
}